/* Estilização geral */
.container {
  background-color: whitesmoke;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 45vw;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

/* Formulários */
.insert-form {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 10px;
  width: 100%;
}

/* Botões */
.input-main {
  width: auto;
  padding: 8px;
  font-size: 1rem;
}
.input-submit {
  width: auto;

  background-color: black;
  font-weight: bold;

  color: white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #202020;
  }
}

.input-delete {
  width: auto;
  background-color: #d10303;

  &:hover {
    background-color: #b00f0f;
  }
}

.list {
  width: 100%;
  margin-top: 20px;
}

summary {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

li {
  font-size: 1.5rem;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.task-title.completed {
  text-decoration: line-through;
  color: grey;
}

.mark-complete-button {
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  margin-left: 10px;

  &:hover {
    background-color: #45a049;
  }
}


.mark-incomplete-button {
  font-size: 1rem;
  background-color: #FFA500;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  margin-left: 10px;

  &:hover {
    background-color: #FF8C00; 
  }
}
